[Unit]
Description=Timer for the gmailcount service
Requires=gmailcount.service

[Timer]
OnActiveSec=0
OnUnitActiveSec=10
AccuracySec=10

[Install]
WantedBy=timers.target
