[Unit]
Description=Watch for new audio files and transcribe them using Whisper

[Service]
ExecStart=%h/.local/bin/inotify-whisper --watch-dir %h/.local/share/audio-notes/raw --output-dir %h/.local/share/audio-notes/processed --model large --language en
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target
