[Unit]
Description=Mailbox synchronization service for %i

[Service]
Type=oneshot
LoadCredentialEncrypted=purelymail-app-password:/home/julian/.config/credstore/purelymail-app-password.cred
ExecStart=/usr/bin/mbsync -V %i

[Install]
WantedBy=default.target
