[Unit]
Description=Mailbox synchronization service

[Service]
Type=oneshot
LoadCredentialEncrypted=purelymail-app-password:/home/julian/.config/credstore/purelymail-app-password.cred
ExecStart=/usr/bin/mbsync -Va

[Install]
WantedBy=default.target
