[Unit]
Description=Run rustic backups
OnFailure=notify-failure@%n

[Service]
Type=oneshot
Environment=PATH=%h/.local/bin
ExecStart=%h/.local/bin/rustic backup
