[Unit]
Description=Timer for the Selenite service
Requires=selenite.service

[Timer]
OnActiveSec=0
OnUnitActiveSec=10
AccuracySec=5

[Install]
WantedBy=dev-selenite\x2dlamp.device
