[Unit]
Description=Selenite Lamp Service
StopWhenUnneeded=true

[Service]
ExecStart=/usr/bin/selenite-lamp /dev/selenite-lamp watch-file %t/selenite-lamp.json
Restart=always

[Install]
WantedBy=dev-selenite\x2dlamp.device
