[Unit]
Description=Selenite Lamp Update Service
StopWhenUnneeded=true

[Service]
ExecStart=/usr/bin/selenite-lamp-updater -c %E/selenite-lamp-updater/config.toml
Restart=always

[Install]
WantedBy=dev-selenite\x2dlamp.device
