[user]
  email = jandrews@fusionbox.com
  name = Julian Andrews
[push]
  default = simple
[core]
  excludesfile = /home/julian/.gitignore_global
[pull]
  rebase = true
[merge]
  ff = false
[alias]
  lg = log --pretty=format:'%C(blue)%h%Creset - %s %Cgreen(%cr) %C(magenta bold)<%an>%Creset%C(yellow)%d%Creset' --abbrev-commit
  ls-conflicts = diff --name-only --diff-filter=U
  edit-conflicts = !conflicts=$(git ls-conflicts) && [ -z "$conflicts" ] || ${EDITOR:-vim} $(echo $conflicts | cut -f2)
