[user]
  email = jandrews@fusionbox.com
  name = Julian Andrews
[push]
  default = simple
[core]
  excludesfile = /home/julian/.gitignore_global
[pull]
  rebase = true
[merge]
  ff = false
[alias]
  lg = log --pretty=format:'%C(magenta bold)%h%Creset - %s %Cgreen(%cr) %C(blue)<%an>%Creset%C(yellow)%d%Creset' --abbrev-commit
