#!/bin/sh

KERNEL!="sd[b-z][0-9]", GOTO="usb_mount_end"

# Get FS info
IMPORT{program}="/sbin/blkid -o udev -p %N"
# Get or build label
ENV{ID_FS_LABEL}!="", ENV{dir_name}="%E{ID_FS_LABEL}"
ENV{ID_FS_LABEL}=="", ENV{dir_name}="usb-%k"
# Global mount options
ACTION=="add", ENV{mount_options}="users,noatime"
# vfat/ntfs mount options
ACTION=="add", ENV{ID_FS_TYPE}=="vfat|ntfs", ENV{mount_options}="$env{mount_options},utf8,uid=1000,gid=1000,dmask=022,fmask=133"
# Do it!
ACTION=="add", RUN+="/bin/mkdir -p '/media/%E{dir_name}'", RUN+="/bin/mount -o '$env{mount_options}' '/dev/%k' '/media/%E{dir_name}'"  
ACTION=="remove", ENV{dir_name}!="", RUN+="/bin/umount '/media/%E{dir_name}'", RUN+="/bin/rmdir '/media/%E{dir_name}'"

LABEL="usb_mount_end"
